body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.wheater-text {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

hr {
  width: 100%;
  border-width: 2px;
  color: #b2b2b2;
}

.wheater-add-button-icon {
  color: #ffffff;
}

.wheater-add {
  background-color: #262626;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.wheater-input {
  width: 320px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.wheater-add:disabled {
  background-color: #b2b2b2;
}

.title-text{
  text-align: center;
}

@media screen and (max-width: 500px){
  .wheater-input {
    width: 235px;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 800px){
    .list-container{
      width: 100%;
    }
    .lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }
 }
